<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" (click)="signOut()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-title>User Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card center">
    <div class="card-body">
      <ion-img src="assets/logo.png"></ion-img>
      <br />
      <ion-item>
        <p>{{ profile.firstName }}</p>
        <p>{{ profile.lastName }}</p>
        <p>{{ profile.birthDate }}</p>
        <p>{{ profile.belt}}</p>
      </ion-item>
    </div>
  </div>
</ion-content>

<app-menu></app-menu>
