<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>User Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card center">
    <div class="card-body">
      <ion-img src="assets/logo.png"></ion-img>
      <br />
      <ion-item>
        <h3>Nume</h3>
      </ion-item>
      <!-- <ion-item>
        <h3>Categoria</h3>
      </ion-item>
      <ion-item>
        <h3>Centura</h3>
      </ion-item> -->

    
    </div>
  </div>
</ion-content>
