<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-img src="assets/logo.png"></ion-img>
  <br />

  <ion-item lines="none" routerLink="/add-contest">
    <ion-icon slot="start"></ion-icon>
    <ion-label>Adauga Concurs</ion-label>
  </ion-item>

  <ion-item lines="none" routerLink="/view-contests">
    <ion-icon slot="start"></ion-icon>
    <ion-label>Lista concursuri</ion-label>
  </ion-item>
</ion-content>
