<ion-header>
  <ion-toolbar>
    <ion-title>orar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Luna</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>saptamana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>zi</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <!-- moves back the month -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

    <!--the month -->
    <ion-col size="8" class="ion-text-center">
      <h2>{{ viewTitle }}</h2>
    </ion-col>

    <!-- moves forward the month -->
    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon name="arrow-forwaRD" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

  <calendar 
  [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
  >
    
  </calendar>
</ion-content>
