<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-title>Autentificare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="card center">
    <div [formGroup]="loginForm" class="card-body">
      <ion-img src="assets/logo.png"></ion-img>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Parola</ion-label>
        <ion-input
          type="password"
          placeholder="Parola"
          formControlName="password"
        ></ion-input>
      </ion-item>
      <br />
      <ion-button expand="block" color="secondary" (click)="signIn()" 
        [disabled]="!loginForm.valid">Login</ion-button
      >
      <ion-button expand="block" color="primary" routerLink="/register"
        >Register</ion-button
      >
    </div>
  </div>
</ion-content>
