<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Autentificare</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Email" [(ngModel)]="user.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Parola</ion-label>
    <ion-input type="password" placeholder="" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="signIn()">Login</ion-button>

  <ion-button expand="block" routerLink="/register">Register</ion-button>

</ion-content>
